<?xml version="1.0"?>

<configuration>
   <system.serviceModel>
      <services>
         <service name="Discovery.EchoService" behaviorConfiguration="announcingService">
            <host>
               <baseAddresses>
                  <add baseAddress="net.tcp://localhost/service" />
               </baseAddresses>
            </host>
            <endpoint address="" binding="netTcpBinding" contract="Discovery.IEchoService" />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="announcingService">
               <serviceDiscovery>
                  <announcementEndpoints>
                     <endpoint kind="udpAnnouncementEndpoint"/>
                  </announcementEndpoints>
               </serviceDiscovery>
            </behavior>
         </serviceBehaviors>
      </behaviors>

      <client>
         <endpoint name="clientConfig" binding="netTcpBinding" contract="Discovery.IEchoService" />
      </client>
   </system.serviceModel>
</configuration>