<?xml version="1.0"?>

<configuration>
   <system.web>
      <compilation debug="true" targetFramework="4.0" />
   </system.web>

   <system.serviceModel>
      <services>
         <service name="Service.Test.Service">
            <endpoint binding="wsHttpBinding" contract="Service.IServiceContract" behaviorConfiguration="ServiceTestEndpoint"/>
            <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint"/>
         </service>
         <service name="Service.Production.Service">
            <endpoint binding="wsHttpBinding" contract="Service.IServiceContract" behaviorConfiguration="ServiceProductionEndpoint" />
            <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint"/>
         </service>
      </services>
      
      <behaviors>
         <serviceBehaviors>
            <behavior>
               <serviceMetadata httpGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="false" />
               <serviceDiscovery />
            </behavior>
         </serviceBehaviors>
         <endpointBehaviors>
            <behavior name="ServiceTestEndpoint">
               <endpointDiscovery>
                  <scopes>
                     <add scope="http://localhost/Test"/>
                  </scopes>
               </endpointDiscovery>
            </behavior>
            <behavior name="ServiceProductionEndpoint">
               <endpointDiscovery>
                  <scopes>
                  	<add scope="http://localhost/Production" />
                  </scopes>
               </endpointDiscovery>
            </behavior>
         </endpointBehaviors>
      </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
   </system.serviceModel>

   <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
   </system.webServer>
</configuration>