<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/routingService/router" />
					</baseAddresses>
				</host>
				<endpoint name="ws-twoway"
				          address="ws-twoway"
				          binding="wsHttpBinding"
				          contract="System.ServiceModel.Routing.IRequestReplyRouter" />
			</service>
		</services>
		
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<routing filterTableName="filterTable1" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<client>
			<endpoint name="CalculatorService1"
			          address="http://localhost:8732/CalculatorService1/CalculatorService/"
			          binding="wsHttpBinding"
			          contract="*" />
		</client>

		<routing>
			<filters>
				<filter name="MatchAllFilter" filterType="MatchAll" />
			</filters>
			<filterTables>
				<filterTable name="filterTable1">
					<add filterName="MatchAllFilter" endpointName="CalculatorService1"/>
				</filterTable>
			</filterTables>
		</routing>
	</system.serviceModel>
</configuration>