<?xml version="1.0"?>

<configuration>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="HelpBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Service">
				<endpoint behaviorConfiguration="HelpBehavior"
				          binding="webHttpBinding"
				          contract="IService" />
			</service>
		</services>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0"
		                  sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>