<?xml version="1.0"?>

<configuration>
   <system.serviceModel>
      <services>
         <service name="Discovery.Service.EchoService" behaviorConfiguration="discoverable">
            <host>
               <baseAddresses>
                  <add baseAddress="net.tcp://localhost:5678" />
               </baseAddresses>
            </host>
            <endpoint address="" binding="netTcpBinding" contract="Discovery.Service.IEchoService" />
            <endpoint kind="udpDiscoveryEndpoint" />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="discoverable">
               <serviceDiscovery />
            </behavior>
         </serviceBehaviors>
      </behaviors>

      <client>
         <endpoint name="endpointConfiguration" kind="dynamicEndpoint" binding="netTcpBinding" contract="Discovery.Client.IEchoService" />
      </client>
   </system.serviceModel>
</configuration>