<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Program+MyService">
        <endpoint kind="webHttpEndpoint" contract="Program+IMyServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true"  />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>