<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="service1" address="http://localhost:8000/routingService/router/ws-twoway"
			          binding="wsHttpBinding"
			          contract="Client.ICalculatorService" />
		</client>
	</system.serviceModel>
</configuration>