<?xml version="1.0"?>

<configuration>
   <system.serviceModel>
      <services>
         <service name="Routing.EchoService">
            <endpoint name="serviceEndpoint" address="net.pipe://localhost/echoService" binding="netNamedPipeBinding" contract="Routing.IEchoService" />
         </service>
         <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="router">
            <endpoint name="routerEndpoint" address="net.pipe://localhost/router" binding="netNamedPipeBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name="router">
               <serviceDebug includeExceptionDetailInFaults="true" />
               <routing filterTableName="routingFilters" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <routing>
         <filters>
            <filter name="matchAllFilter" filterType="MatchAll" />
         </filters>
         <filterTables>
            <filterTable name="routingFilters">
               <add filterName="matchAllFilter" endpointName="routerToService" />
            </filterTable>
         </filterTables>
      </routing>
      <client>
         <endpoint name="routerToService" address="net.pipe://localhost/echoService" binding="netNamedPipeBinding" contract="*" />
         <endpoint name="clientEndpoint" address="net.pipe://localhost/router" binding="netNamedPipeBinding" contract="Routing.IEchoService" />
      </client>
   </system.serviceModel>
</configuration>