<?xml version="1.0"?>

<configuration>
   <system.serviceModel>
      <diagnostics>
         <messageLogging logEntireMessage="true" logMessagesAtTransportLevel="true" />
      </diagnostics>
      <services>
         <service name="Example.MyService">
            <endpoint address="net.tcp://localhost:4500/" binding="netTcpBinding" contract="Example.IMyService" />
         </service>
      </services>
      <bindings>
         <netTcpBinding>
            <binding>
               <security mode="Message"/>
            </binding>
         </netTcpBinding>
      </bindings>
   </system.serviceModel>
   <system.diagnostics>
      <sources>
         <source name="System.ServiceModel.MessageLogging">
            <listeners>
               <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
               <add name="File" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messageLogging.svclog"/>
            </listeners>
         </source>
      </sources>
   </system.diagnostics>
</configuration>